.card {
  background: $white;
  border: 1px solid $card-border-color;
  margin: 0 auto;
  padding: 20px 12px;
  min-height: 405px;
  max-width: 375px;

  & .center {
    text-align: center;
  }

  @include fontSize(16px);
}
