html,body {
  height: 100%;
}

.container {
  padding-top: 15px;
}

.row-flex,
.row-flex > div[class*="col-"] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 auto;
      -ms-flex: 1 auto;
          flex: 1 auto;
}

.row-flex-wrap {
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.row-flex > div[class*="col-"] div {
  width: 100%;
}

.flex-col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.flex-grow {
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
