section.content {
  padding: 60px 100px;
  & h2, h3 {
    text-align: center;
    margin-bottom: 50px;
  }
  & p {
    @include fontSize(16px);
  }
}

section#howItWorks {
  text-align: center;

  & img {
    margin-bottom: 10px;
  }
}

section#faq {
  background: $gray;

  & .faq {
    font-weight: 500;
    text-align: center;
    @include fontSize(22px);
    margin-top: 50px;
  }

  & img {
    display: block;
    margin: 10px auto;
  }

  & .title {
    text-align: center;
  }
}
